bin
include
lib
lib64
local
*.pyc
/static
logs
db.sqlite3
/media/media/
/media/logo/
media
pip-selfcheck.json
custom_settings.py
mod_wsgi-express-9005-Instance
mod_wsgi-express-9006-Instance
django_cache
.project
.pydevproject
.settings
